* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: #FDFFF5;
}

header, footer {
  height: 10vh;
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  line-height: 10vh;
}

header {
  background: aqua;
}

footer {
  background: pink;
}


.container {
  max-width: 500px;
  width: 100vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compass {
  position: relative;
  max-width: 80vw;
  max-height: 80vw;
  width: 60vh;
  height: 60vh;
  border: 1px solid aqua;
  border-radius: 50%;
  // background: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.9s;
}

.point {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 2vh 3vh 2vh;
  border-color: transparent transparent aqua transparent;

  // background: aqua;
  // border-radius: 50%;
  position: absolute;
  top: -4.0vh;
  // z-index: -2;
  // transform: rotate(45deg);
}

// .center-circle {
//   width: 2vh;
//   height: 2vh;
//   background: white;
//   box-sizing: border-box;
//   border: 4px solid aqua;
//   border-radius: 50%;
// }

.distance {
  color: aqua;
  position: fixed;
  height: 5vh
  top: 45vh;
  margin: 0 auto;
  font-size: 3vh;
}

#distance-result {
  font-size: 5vh;
}